<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="Client/assets/css/style.css">
</head>

<body>
  <div id="app">
    <main>
      <div class="nav">
        <button @click="logoutHandle"><i class="fas fa-power-off"></i>
          <p>Power</p>
        </button>
        <button><i class="fas fa-cog"></i>
          <p>Settings</p>
        </button>
        <button><i class="fas fa-image"></i>
          <p>Pictures</p>
        </button>
        <button><i class="far fa-file"></i>
          <p>Documents</p>
        </button>
        <button><i class="fas fa-user-circle"></i>
          <p>Cowboy</p>
        </button>
      </div>
      <div class="center-content">
        <div class="items" v-for="item of 10" :key="item">
          <span class="title">{{list.title}}</span>
          <div class="item" v-for="i of list.app" :key="i">
            <img :src="i.image" alt="">
            <span>{{i.title}}</span>
          </div>
        </div>
      </div>
      <div class="right-content">
        <div class="items">
          <span class="title">Productivity</span>
          <div class="item">
            <img v-for="i of list.app" :key="i" :src="i.image">
            <img v-for="i of list.app" :key="i" :src="i.image">
          </div>
        </div>
        <div class="items">
          <span class="title">Explore</span>
          <div class="item">
            <img v-for="i of list.app" :key="i" :src="i.image">
            <img v-for="i of list.app" :key="i" :src="i.image">
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="./renderer.js"></script>
  <script src="Server/database.js"></script>
  <script>
    const { ipcRenderer, remote } = require('electron');
    const { dialog } = remote;
    function showAbout(type, title, message) {
      //type warning, info, question, error
      dialog.showMessageBox({
        title: title,
        buttons: ['Close'],
        type: type,
        message: message,
      });
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          list: {
            title: 'Recently added',
            app: [
              {
                image:
                  'https://store-images.s-microsoft.com/image/apps.49027.13510798887047136.8a1815b2-017c-48c8-80cc-ca4d1ae5c8cf.9bfbc0bd-b16f-4312-bfcb-bf3a709aed68?mode=scale&q=90&h=200&w=200&background=%230078D4',
                title: 'Paint 3D'
              },
              {
                image:
                  'https://store-images.s-microsoft.com/image/apps.16911.9007199266246188.daddddbb-1e22-4bcc-aad6-e32209ccff02.d57e2874-412d-4791-9243-01095dbdba8c?mode=scale&q=90&h=200&w=200&background=%230078D4',
                title: 'Groove Music'
              },
              {
                image:
                  'https://store-images.s-microsoft.com/image/apps.28355.9007199266248608.6a399a57-b260-4ce9-b265-c47558f755e1.b4124129-26e8-401d-9989-f8689f69fa3a?mode=scale&q=90&h=300&w=300',
                title: 'Mail'
              }
            ]
          }
        }
      },
      methods: {
        logoutHandle() {
          db.get('token').remove().write()
          db.get('fb').remove().write()
          db.get('gg').remove().write()
          ipcRenderer.sendSync('auth', '')
        }
      }
    })
  </script>
</body>

</html>