<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" /> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Đăng nhập</title>
</head>

<body>
    <div class="bg">
        <div class="main">
            <div>
                <div class="user"></div>
                <div class="login-menu">
                    <span class="active">Đăng nhập</span>
                    <span>Đăng ký</span>
                </div>
                <div class="content">
                    <form class="login">
                        <input type="text" v-model="login.username" placeholder="Username" v-if="!login.error">
                        <div v-if="!login.error">
                            <input type="password" v-model="login.password" placeholder="Password">
                            <button type="submit" @click="loginHandle(event)"><img src="../assets/icon/arrow.svg"
                                    alt=""></button>
                        </div>
                        <h5 v-if="!login.error" @click="isShow">Sign-in options</h5>
                        <div class="social" v-if="show && !login.error">
                            <img @click="loginFb" src="../assets/icon/facebook.svg" alt="">
                            <img @click="loginGg" src="../assets/icon/google.svg" alt="">
                        </div>
                        <p v-if="login.error">{{login.error}}</p>
                        <span @click="login.error = ''" v-if="login.error">Ok</span>
                    </form>
                    <form class="signup">
                        <input type="text" v-model="signup.display_name" placeholder="Tên hiển thị"
                            v-if="!signup.error">
                        <input type="text" v-model="signup.username" placeholder="Username" v-if="!signup.error">
                        <input type="number" v-model="signup.phone" placeholder="Điện thoại" v-if="!signup.error">
                        <input type="email" v-model="signup.email" placeholder="Email" v-if="!signup.error">
                        <input type="password" v-model="signup.password" placeholder="Mật khẩu" v-if="!signup.error">
                        <div v-if="!signup.error">
                            <input type="password" v-model="signup.repassword" placeholder="Xác nhận mật khẩu">
                            <button type="submit" @click="signupHandle(event)"><img src="../assets/icon/arrow.svg"
                                    alt=""></button>
                        </div>
                        <p v-if="signup.error">{{signup.error}}</p>
                        <span @click="signup.error = ''" v-if="signup.error">Ok</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../../Server/database.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script>
        const { ipcRenderer } = require('electron');
        new Vue({
            el: ".main",
            data() {
                return {
                    login: {
                        username: "",
                        password: "",
                        error: ""
                    },
                    signup: {
                        username: "",
                        password: "",
                        phone: "",
                        email: "",
                        repassword: "",
                        display_name: "",
                        error: "",
                    },
                    show: false,
                }
            },
            methods: {
                loginFb() {
                    ipcRenderer.send("fb-authenticate");
                },
                loginGg() {
                    ipcRenderer.send("gg-authenticate");
                },
                isShow() {
                    this.show = !this.show;
                },
                loginHandle(event) {
                    event.preventDefault();
                    if (!this.login.username || !this.login.password) {
                        this.login.error = "Không được để trống. Thử lại!"
                        return;
                    }
                    axios.post('http://207.148.64.50/api/auth/login', {
                        username: this.login.username,
                        password: this.login.password,
                    })
                        .then(function (response) {
                            if (response.data.status == true) {
                                location.reload()
                                db.get('token').remove().write();
                                db.get('token').push(response.data.data[0].token).write();
                            }
                        })
                        .catch((error) => {
                            this.login.error = "Tài khoản hoặc mật khẩu không chính xác!"
                        })
                },
                signupHandle() {
                    event.preventDefault();
                    if (!this.signup.email || !this.signup.password || !this.signup.display_name || !this.signup.repassword || !this.signup.username || !this.signup.phone) {
                        this.signup.error = "Không được để trống. Thử lại!"
                        return;
                    }
                    if (!this.validateEmail(this.signup.email)) {
                        this.signup.error = "Email không chính xác!"
                        return;
                    }
                    if (this.signup.username.length < 6) {
                        this.signup.error = "Username phải có từ 6 ký tự trở lên!"
                        return;
                    }
                    if (this.signup.password.length < 6) {
                        this.signup.error = "Password phải có từ 6 ký tự trở lên!"
                        return;
                    }
                    if (this.signup.password != this.signup.repassword) {
                        this.signup.error = "Xác nhận mật khẩu không chính xác!"
                        return;
                    }
                    if (!this.validPhone(this.signup.phone)) {
                        this.signup.error = "Số điện thoại không chính xác!"
                        return;
                    }

                    let data = {
                        email: this.signup.email,
                        display_name: this.signup.display_name,
                        password: this.signup.password,
                        username: this.signup.username,
                        phone: this.signup.phone
                    }

                    axios.post('http://207.148.64.50/api/auth/register', data)
                        .then(function (response) {
                            // this.signup.error = ""
                            let input = document.querySelectorAll(".signup input")
                            input.forEach(item => {
                                item.value = ""
                            });
                        })
                },
                validateEmail(email) {
                    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(String(email).toLowerCase());
                },
                validPhone(phone) {
                    const reg = /((09|03|07|08|05)+([0-9]{8})\b)/g;
                    return reg.test(phone);
                }
            },
            mounted() {
                let $ = require('jquery');
                const { ipcRenderer, } = require('electron')

                if (db.get("token").value()[0] ||
                    db.get("gg").value()[0] ||
                    db.get("fb").value()[0]) {
                    ipcRenderer.sendSync('auth', 'logged')
                }

                let menu = document.querySelectorAll(".login-menu span")
                let form = document.querySelectorAll(".content form")
                for (let i = 0; i < menu.length; i++) {
                    menu[i].onclick = function () {
                        menu.forEach(item => {
                            item.classList.remove("active");
                        });
                        menu[i].classList.add("active");
                        form.forEach(item => {
                            item.style.display = "none"
                        });
                        form[i].style.display = "block"
                    }
                }

                ipcRenderer.on("token_gg", async (event, arg) => {
                    location.reload()
                    db.get('gg').remove().write();
                    db.get('gg').push(arg).write();
                });

                ipcRenderer.on("token_fb", async (event, arg) => {
                    location.reload()
                    db.get('fb').remove().write();
                    db.get('fb').push(arg).write();
                });
            }
        })

    </script>
</body>

</html>